<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Item Directory</title>
</head>

<body>

<div class="container">

	<h3>ITEM DIRECTORY</h3>
	
	<a th:href="@{/items/addForm}"
	class="btn btn-info btn-sm"
	>
		Add Item
	</a>
	
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="titem : ${item}">
			
				<td th:text="${titem.name}" />	
				<td th:text="${titem.description}" />	
				<td th:text="${titem.quantity}" />	
				<td>
					<a th:href="@{/items/updateForm(itemId=${titem.id})}"
					class="btn btn-warning btn-sm"
					>Update</a>
					
					
					<a th:href="@{/items/delete(itemId=${titem.id})}"
					class="btn btn-secondary btn-sm"
					onclick="if(!(confirm('Are you sure You want to delete selected item?'))) return false"
					>Delete</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



